[submodule "packages/types"]
	path = packages/types
	url = git@github.com:chrjl/reactresume--types.git
[submodule "packages/jsonresume-parser"]
	path = packages/jsonresume-parser
	url = git@github.com:chrjl/reactresume--jsonresume-parser.git
[submodule "packages/components"]
	path = packages/components
	url = git@github.com:chrjl/reactresume--components.git
[submodule "packages/template"]
	path = packages/template
	url = git@github.com:chrjl/reactresume--template.git
[submodule "packages/server"]
	path = packages/server
	url = git@github.com:chrjl/reactresume--server.git
