:root {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  line-height: normal;
}

@media print {
  .MuiBox-root {
    display: none !important;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Arimo';
  src: url('./assets/Arimo-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Arimo';
  src: url('./assets/Arimo-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter-Bold.ttf');
  font-weight: 700;
}
